#leftHalf {
   top: 0px;
   width: 50%;
   position: absolute;
   left: 0px;
   height: 100%;
  -webkit-animation-name: background;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes background {
  0% {
    background-image: url('https://a0.muscache.com/locations/uploads/photo/image/5908/0_5000_0_3333_one_IMG_2261.jpg');
  }
  33% {
    background-image: url('https://a1.muscache.com/locations/uploads/photo/image/5909/0_5000_0_3333_one_IMG_2223.jpg');
  }
  100% {
    background-image: url('https://a1.muscache.com/locations/uploads/photo/image/5911/0_5000_0_3333_one_IMG_2245.jpg');
  }
}

#rightHalf {
font-family: 'Lato';
   width: 49%;
   position: absolute;
   right: 0px;
   height: 100%;
   position: fixed;
   overflow-x: hidden;
}

.sidenav {
    width: 20px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0px; /* Stay at the top */
    right: 20px;
    overflow-x: hidden; /* Disable horizontal scroll */
}
.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.sidenav a:hover {
    color: black;
}
