html {
  text-align: center;
  font-family: 'Lato';
  background-color: white;
  background-image: url('images/london_3.jpg')/*why is this not working????*/;
}

.welcome {
  font-size: x-large;
}

.container {
  position: relative;
  text-align: center;
}

.map {
  opacity: 0.7;
  filter: alpha(opacity=70); /*For IE8 and earlier*/
  border-radius: 50%;
  width: auto;
  max-width: 500px;
}

.enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(360, 360, 360, 0.8);
  padding: 10px;
  border-radius: 15px;
  font-size: large;
  font-family: 'Merriweather';
}

.enter-text:visited {
  color:black;
  }
.enter-text:link {
  color:inherit;
  }
.enter-text:hover {
  color:grey; font-size:x-large;
  }

.icon-bar {
 position: fixed;
 top: 5%;
 -webkit-transform: translateX(-50%);
 -ms-transform: translateX(-50%);
 transform: translateY(-50%);
}

.icon-bar a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 0px;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
  border-radius: 25%;
  opacity: 0.4;
}

.icon-bar a:hover {
  opacity: 1;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.instagram {
  background: #125688;
  color: white;
}

.pinterest {
  background: #cb2027;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}



/* input[type=text], input[type=submit] {
  width: 250px;
  padding: 12px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 50px;
}

input[type=submit] {
  background-color: grey;
  color: white;
  border: grey;
  width: 100px;
  margin: 0px;
}

input[type=submit]:hover {
  opacity: 0.7;
}

.container2 {
  font-family: 'Merriweather';
  font-size: small;
  padding-top: 30px;
}
*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
