html{
  text-align: center;
  font-family: 'Lato';
  background-color: white;
}

.welcome{
  font-size: x-large;
}

.container{
  position: relative;
  text-align: center;
}

.container img{
  opacity: 0.5;
  filter: alpha(opacity=50); /*For IE8 and earlier*/
  border-radius: 50%;
  width: auto;
  max-width: 500px;
}

.enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(360, 360, 360, 0.8);
  padding: 10px;
  border-radius: 15px;
  font-size: large;
  font-family: 'Merriweather';
}

a:visited{color:black
  }
a:link{color:inherit
  }
a:hover{color:grey; font-size: x-large;
  }
