
h1 {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 3em;
}

.image-cropper {
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.enter {
  position: absolute;
  top:50%;
  left: 50%;
  margin: 0 auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: black;
    text-align: center;
    background: white;
    margin:0 auto;
    padding: 10px 10px 10px 10px;
}
