html {
  text-align: center;
  font-family: 'Lato';
  background-color: white;
  background: url('../images/london_5.jpg') no-repeat center center fixed;
}

.bg-1 {
    background-image: url('../images/london_5.jpg');
    background-size: cover;
  }

/*Navbar*/
.btn-info {
}

.container2 {
  font-family: 'Merriweather';
}

/*Map and enter link*/
.img-responsive {
  opacity: 0.7;
  filter: alpha(opacity=70); /*For IE8 and earlier*/
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-family: 'Merriweather';
}

/*Social Media Icons*/
.icon-bar {
  margin-bottom: 10px;
}
.btn-facebook {
  background: #3B5998;
  color: white;
}

.btn-twitter {
  background: #55ACEE;
  color: white;
}

.btn-instagram {
  background: #125688;
  color: white;
}
