#leftHalf {
   top: relative;
   width: 50%;
   position: absolute;
   left: 0px;
   height: 100%;
  -webkit-animation-name: background;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes background {
  0% {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Mile_End_stn_entrance.JPG/1200px-Mile_End_stn_entrance.JPG');
  }
  33% {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWSag4aLiQrq893M7rCZtpP3JXuju6KrFbz8fLS400MB44d1Ph');
  }
  100% {
    background-image: url('https://www.ianvisits.co.uk/blog/wp-content/uploads/2017/04/mile-end-garden-bridge-02.jpg');
  }
}

#rightHalf {
font-family: 'Lato';
   width: 49%;
   position: absolute;
   right: 0px;
   height: 100%;
   position: fixed;
   overflow-x: hidden;
}

.sidenav {
    width: 20px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0px; /* Stay at the top */
    right: 20px;
    overflow-x: hidden; /* Disable horizontal scroll */
}
.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.sidenav a:hover {
    color: black;
}
